<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Error 403</title>

  
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
     <link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/css/style.css">
      <link rel="stylesheet" href="../vendors/fontawesome/css/font-awesome.min.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center">
             <h1>ERROR 403</h2>
              <h2>You don't have Permissions to access / on this server</h2>
              

            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
<!-- ./wrapper -->
</body>
</body>

</html>