<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme The Band</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="css/cricket.css" rel="stylesheet">
<style>
    .pagerLink{
        text-decoration:none; 
    }
</style>
</head>
<body background="./images/kk1.png">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <img src="./images/logo.jpg" height="80px" width="190px">
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <!-- <button class="btn btn-default navbar-btn" type="button"><a href="aboutus.ejs"><b>WATCH LIVE</b></a></button> -->
        <ul class="nav navbar-nav">
              <!-- <li><a href="#myPage" style="color:red"><b>WA Live</b></a></li> -->
          <li><a href="index.ejs">Home</a></li>
          <li><a href="aboutus.ejs">About Us</a></li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Registration
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="teamregister.ejs">Team Registration</a></li>
                <li><a href="playerregister.ejs">Player Registration</a></li>
                <li><a href="rulesnregulation.ejs">Rules And Regulation</a></li> 
                <li><a href="playercodeofconduct.ejs">Player Code Of Conduct</a></li> 
                <li><a href="sponsers.ejs">Sponcers</a></li> 
              </ul>
            </li>
          <li><a href="teamlist.ejs">Team List</a></li>
          <li><a href="">Gallery</a></li>
         <li> <button class="btn navbar-btn" type="button"><b>Pay Online</b></button></li>
          <li><a href="contactus.ejs">Contact Us</a></li>
        </ul>
        <button class="btn btn-default navbar-btn" type="button" style="background-color:rgb(6, 228, 191); width:100px; color:black;"><a href="https://www.youtube.com/channel/UCRvl6AAzDSVdx5EzyjJpQUw" style="color:black;"><b>WATCH LIVE</b></a></button>
      </div>
     
    </div>
</nav>

<!-- <div class="row">
    <center><h1>Inauguration of Challenger Cup 2015</h1></center>  
  </div> -->
</br></br>
<div class="row">
    <div class="col-sm-12">
        <img src="./images/lg12.png" alt="crickethdr" class="responsive" width="100%" height="600px">
    </div>
</div></br></br>
<!-- gallery  -->
<div class="row">
    <center><h1 style="color:brown">Inauguration of Challenger Cup 2015</h1></center>  
  </div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
    <div id="myCarousel" class="carousel" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="./images/c1.jpg" alt="Los Angeles" style="width:auto; height:500px;" >
          </div>
    
          <div class="item">
            <img src="./images/c2.jpg" alt="Chicago" style="width:auto; height:500px;">
          </div>
        
          <div class="item">
            <img src="./images/c3.jpg" alt="New york" style="width:auto; height:500px;" >
          </div>

          <div class="item">
            <img src="./images/c4.jpg" alt="New york" style="width:auto; height:500px;" >
          </div>

          <div class="item">
            <img src="./images/c5.jpg" alt="New york" style="width:auto; height:500px;" >
          </div>

        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
</div>
</br>
<!--end Gallery -->
<div class="row">
    <center><h1 style="color:brown">Inauguration Of Challenger Cup 2015</h1></center>  
  </div>
  <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <img src="./images/cc1.jpeg" alt="crickethdrfr" class="responsive" width="100%" height="500px">
      </div>
  </div>

<div class="row">
    
 <center> <a href="" style="color:red" class = "pagerLink"><h2>Selected Play List</h2></a></center>

</div>
<!-- Container (The Band Section) -->


<!-- Container (TOUR Section) -->


<!-- Container (Contact Section) -->


<!-- Add Google Maps -->


<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<!-- Footer -->
<footer class="text-center">
  <h2>Address:</h2>
  <p>Noor Bagh, Near Gughal Mandir, 
        
        Pandeywala, Jwalapur
        
        Haridwar(UK)-249407
        
        e-mail: cricketfederation@gmail.com
        
        Web: www.uttarakhandcricket.in</p>
 
</footer>

<script>

</script>

</body>
</html>
